/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.material-green-text{
    color: #26a69a!important;
}

.material-green{
    background-color: #26a69a!important;
}

.light-green { 
    background-color:rgba(46, 125, 50, 0.65) !important;
}

.deep-green {
    background-color: rgb(27, 94, 32) !important;
}

.deep-green-text {
    color: rgb(27, 94, 32) !important;
}

.tab.deep-green-text{
    font-weight: bold;
}

.tabs .tab a:hover, .tabs .tab a:focus {
    color: rgb(255, 196, 0);
}

.tabs.community .tab a.active {
    color: rgb(27, 94, 32);
    border-bottom: solid 2px rgb(255, 196, 0) ;
}

.tabs .indicator {
    background-color:transparent !important;
}

.deep-yellow {
    background-color:rgb(255, 196, 0) !important;
}

.deep-yellow-text {
    color: rgb(255, 196, 0) !important;
}

a.btn-large.deep-yellow:hover, .btn.deep-yellow:hover {
    background-color:rgb(255, 224, 130);
}

nav ul a,
nav .brand-logo {
    color: rgb(255,255,255, .85);
}

.tabs .tab a {
    color: rgba(46, 125, 50, 0.65);
}

.tabs .tab a.active {
    color: rgb(27, 94, 32);
}

h1.header, .home-lead {
    font-family: 'Bitter', serif;
}

p {
    line-height: 1.75rem;
}

nav {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.button-collapse {
    color: #26a69a;
}

.dropdown-content {
    margin-top: 65px;  
}

.dropdown-content li a, .side-nav li a {
    color: rgba(46, 125, 50, 0.85);
}


.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.inline li{
    display: inline;
    list-style-type: none;
}

#index-banner.parallax-container {
    min-height: 640px;
    margin-top: -65px;
    color: rgba(255,255,255,.9);
    background: linear-gradient( 
        rgba(46, 125, 50, 0.65), 
        rgba(27, 94, 32, 0.9)
        );
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: cover;
}
/*Duplicate styling for header in other pages*/
#index-banner-app.parallax-container {
    min-height: 300px;
    margin-top:-65px;
    color: rgba(255,255,255,.9);
    background: linear-gradient( 
        rgba(46, 125, 50, 0.65), 
        rgba(27, 94, 32, 0.9)
        );
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: cover;
}

#index-region.parallax-container {
    min-height: 450px;
    color: rgba(255,255,255,.9);
    background: rgba(255, 196, 0, 0.55);
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: cover;
}

#index-contact.parallax-container {
    min-height: 360px;
    color: rgba(255,255,255,.9);
    background: rgba(0,0,0, 0.35);
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: cover;
}

.parallax-container .section {
    width: 100%;
}

#photos {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;  
}

/*Photos collage style begins*/
#photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}

@media (max-width: 1200px) {
    #photos {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1000px) {
    #photos {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    #photos {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px) {
    #photos {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}
.navbar-fixed {
    z-index: 999;
}

/*Photo Collage Style Ends*/

@media only screen and (min-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 60%;
    }
    #index-banner .section, #index-region .section, #index-contact .section {
        top: 30%;
    }
    .nav-container-fluid {
        margin:0px 6%;
    }
    .footer-container-fluid {
        margin:0px 10%;
    }
    .col.m4.l4.newsletter {
        width:32%;
        margin-right:10px;
        color:#777;
    }
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 60%;
    }
    #index-banner .section {
        top: 20%;
    }
    #index-region .section {
        top: 45%;
    }
    #index-contact .section {
        top: 40%;
    }
    .col.m4.l4.newsletter {
        width:32%;
        margin-right:10px;
        color:#777;
    }
}

@media only screen and (max-width : 640px) {
    #index-banner .section {
        top: 20%;
    }
    #index-region .section {
        top: 35%;
    }
    #index-contact .section {
        top: 20%;
    }
    .header.region {
        line-height: 1.5em;
    }
    h1.header {
        font-size: 3.5em; 
    }
    .dropdown-content {
        margin-top: 45px;  
    }
    .col.browser-default {
        margin-bottom: 6px;
    }
}

.material-icons.menu {
    font-size:36px;
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

.col.browser-default {
    height: 35px;
    color:#999;
}

/*Details Page Styles begin*/

#details-banner.parallax-container.general {
    min-height: 200px;
    color: rgba(255,255,255,.9);
    background: linear-gradient( 
        rgba(46, 125, 50, 0.65), 
        rgba(27, 94, 32, 0.9)
        );
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: cover;
}

/*Details Page Styles end*/

/*Home Newsletter Sub form Styles*/
/*Home Newsletter Sub form styles end*/

footer.page-footer {
    margin: 0;
}

/** Fonts helpers**/
.font-sm {
    font-size: .8rem !important;
}

.font-lg {
    font-size: 1.2rem !important;
}

.font-xl {
    font-size: 1.5rem !important;
}

.font-bold {
    font-weight: 500 !important;
}

.font-inherit {
    font-size: inherit !important;
}

/*Materialize adjustments*/
[type="checkbox"] + label {
    padding-right: 40px;
}